.contenu {
    background-color: none;
    padding: 1rem;
    border-radius: 10px;
    display: flex;

    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
        padding: 0 1rem;

    }

    
 }

header{
    width: 100%;
    padding: 20px;
    flex-direction: row-reverse;
  
    align-items:flex-start;
 }

header{
 
    padding: 50px;

    height: auto;
    background-image: url('./public/image/mesh.png');
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 1em;
      
    }
 }


#Monbouton {
     display: flex;
   
    
    color:rgb(34, 34, 128);
    opacity: 85%;
    border-radius: 30px;
    border:none;
    padding: 18px 20px;
    
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ;
    font-family: "Lexend Giga", sans-serif;
    position:sticky; 

    
  

    @media screen and (min-width: 768px) {
        flex-direction: row;
        padding-right: 0%;

    }
}

button:hover {
    background-color: #ffffff;
}
button:active  {
    transform: scale(0.95);
}

h1 {


    background-color: none;
    color: #ffffff;
    font-family: "Lexend Giga", sans-serif;
    text-align: center;
    
    font-size: 75px;
    animation: zoomOut 5s ease-in-out forwards;
    opacity:0,5;

    @media screen and (min-width: 768px) {
        width: 5em;
        font-size: 1.8em;
        display: flex;
        flex-direction: row;
        
    }
}  
    @keyframes zoomOut {
        from {
          transform: scale(2); 
          opacity: 0.5; 
        }
        to {
          transform: scale(1); 
          opacity: 1; 
        }
      }


#logo {
    border-radius: 80%;
    padding: 10px;
    width: 270px;
    height: 270px;
    position:absolute;
    top: 0px;
    left:0px;

      @media screen and (min-width: 768px) {

      }

    }



body{
    margin: 0;
    height: 100vh;
 }






footer {

    /* background-image: url(../code-projet/public/image/fond5.avif); */
    background: linear-gradient(#3759f1, #b88aee,#e20686);
    font-family: "Lexend Giga", sans-serif;
    padding-bottom: 4px;
    text-align: center;


       @media screen and (min-width: 768px) {

       }
}
/* ﻿
Comme une envie de crever
Juli976e T.
julie_7 */

.social-icons , li , a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;


    }
}
.pff{
   
    width: 50px;
    border-radius:10% ;
    @media screen and (min-width: 768px){

    }

}