.contenu {
    background-color: none;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: center;
        width: 100%;
        justify-content: flex-start;
        margin-left: 10px;
        margin-right: 3px;
      }
    
 }

header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    place-items: center;
    /*padding: 50px*/
    height: 200px;
    background-image: url('./public/image/mesh.png');
    background-size: cover;
    background-repeat: no-repeat;

    
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 3px;
      } 
    }



#Monbouton {

    display: flex;
    color:rgb(34, 34, 128);
    opacity: 85%;
    border-radius: 30px;
    border:none;
    padding: 18px 20px;
    text-align: center;
    font-size: 19px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ;
    font-family: "Lexend Giga", sans-serif;
    position: right; 

    
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        width: 10px;
        justify-content: flex-end;
        margin-left: 10px;
        margin-right: 3px;
      }

   
}

button:hover {
    background-color: #ffffff;
}
button:active  {
    transform: scale(0.95);
}

h1 {


    background-color: none;
    color: #ffffff;
    font-family: "Lexend Giga", sans-serif;
    text-align: center;
    
    font-size: 75px;
    animation: zoomOut 5s ease-in-out forwards;
    opacity:0,5;

   
}  
    @keyframes zoomOut {
        from {
          transform: scale(2); 
          opacity: 0.5; 
        }
        to {
          transform: scale(1); 
          opacity: 1; 
        }
      }


#logo {
    border-radius: 80%;
    padding: 10px;
    width: 270px;
    height: 270px;
    position: left;
    top: 0px;
    left:0px;

   
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        width: 10px;
        justify-content: flex-start;
        margin-left: 10px;
        margin-right: 0 1em;
      }

    }



body{
    margin: 0;
    height: 100vh;
 }






footer {

    /* background-image: url(../code-projet/public/image/fond5.avif); */
    background: linear-gradient(#3759f1, #b88aee,#e20686);
    font-family: "Lexend Giga", sans-serif;
    padding-bottom: 4px;
    text-align: center;


    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100px;
        justify-content: flex-start;
        margin-left: 10px;
        margin-right: 0 1em;
      }
}
/* ﻿
Comme une envie de crever
Juli976e T.
julie_7 */

.social-icons , li , a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;

  
}
.pff{
   
    width: 50px;
    border-radius:10% ;
    @media screen and (min-width: 768px){

    }

}