

/* css camille */
main {
    display: grid;
    place-items: center; 
    min-height: 100vh; 
    /* ajout rudy */
    margin-top: 500px;
}

.container {

  
    
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:20px;
    box-shadow: 0px 1px 9px rgba(21, 11, 75, 0.7);
    border-radius: 2%;
    
    @media screen and (min-width: 992px) {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 3px;
      }

}

.CartePrez , .Resume , .Objectifs{
    display: grid;
    justify-items: center;
    flex: 1;
    margin: 2px;
}

h2 , h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(34, 34, 128);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9;
    text-align: center;
    line-height: 1.3;
    margin: 25px;
    opacity: 0; 
    animation: fadeIn 4s ease-in forwards; 
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1; 
    }
  }


.CartePrez img {
    width: 30%;
    border-radius: 500px;
}




/* CSS Frank */

.container_contact {
 border: 1px solid black;
  
  }  

#contactForm {
  display:none;
}

.containerform {

    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    box-shadow: 0px 1px 9px rgba(21, 11, 75, 0.7);
    border-radius: 2%;
  
  
  }

